.filter-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100px;
    margin-left: 15px;
}

.selected {
    color: #100e0e;
    /* font-weight: bold; */
    background: #9bf9f978;
}

.right-side {
    margin-right: 15px;
}

.left-side button {
    margin-right: 15px;
}

.contact-form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 20px;
    align-items: flex-start;
  }
  
  .contact-form input {
    margin-top: 10px;
  }

.contact-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-card {
    width: 250px;
    height: 370px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 5px;
    padding-left: 20px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    background: lightcyan;
}

.contact-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bottom-button {
    display: flex;
    justify-content: space-around;
}

#fav-button {
    cursor: pointer;
}

#del-button {
    color: red;
    cursor: pointer;
}