.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 90%;
}

button {
    width: 100px;
    margin-left: 15px;
}

.selected {
    color: #100e0e;
    /* font-weight: bold; */
    background: #9bf9f978;
}

.right-side {
    margin-right: 15px;
}

.left-side button {
    margin-right: 15px;
}

#search-input {
    margin-left: 15px;
    border-radius: 5px;
}

.contact-form {
    box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.2);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    align-items: center;
    padding: 10px;
    width: 250px;
    height: 225px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 5px;
  }
  
  .contact-form input {
    margin-top: 10px;
    height: 20px;
    width: 175px;
  }

  #fav-input {
    width: auto;
    height: auto;
    margin-bottom: 15px;
  }

.contact-list-container {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.contact-card {
    width: 250px;
    height: 370px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 5px;
    padding-left: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.2);
    align-items: center;
    background: lightcyan;
}

.contact-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bottom-button {
    display: flex;
    justify-content: space-around;
}

#fav-button {
    cursor: pointer;
}

#del-button {
    color: red;
    cursor: pointer;
}

#no-result {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
    color: dimgrey;
}